.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content > p,
.modal-content > div {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content > div > input,
.modal-content > div > select {
  width: 50%;
  text-align: end;
}

.modal-content .button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
