.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content h2 {
  margin: 0 0 10px;
  text-align: center;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.modal-content button {
  margin-left: 10px;
}

.modal-content .input-field {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.modal-content .input-field > input {
  width: 50%;
}
